.place-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.page-container {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: #eee;
  flex-direction: column;
  @extend .place-center;

  .header {
    padding: 1.5rem 1.5rem 1.5rem 0;
    display: flex;
    align-items: center;
    color: black;
  }

  .card-container {
    width: 70vw;
    @extend .place-center;
    justify-content: space-around;

    @media (max-width:800px) {
      flex-direction: column;

      .card {
        margin-top: 1rem;
      }
    }

    .card {
      width: 250px;
      height: 250px;
      border-radius: 12px;
      background-color: #123;
      color: #fff;
      @extend .place-center;
      flex-direction: column;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        transition: 0.5ms ease;
      }

      .icon {
        font-size: 4rem;
        margin-bottom: 0.3rem;
      }
    }
  }


}