<ion-content [fullscreen]="true">
  
  <section class="page-container">

    <section class="card-container" *ngIf="cardCountsData">

  
    <div class="card">
      <ion-icon class="icon" name="reader-outline"></ion-icon>
      <h3>{{cardCountsData.confirmed | number:'1.0'}}</h3>
      <p>confirmed</p>
    </div>

    <div class="card">
      <ion-icon class="icon" name="shield-checkmark-outline"></ion-icon>
      <h3>{{cardCountsData.recovered | number:'1.0'}}</h3>
      <p>Recovered</p>
    </div>

    <div class="card">
      <ion-icon class="icon" name="skull-outline"></ion-icon>
      <h3>{{cardCountsData.deaths | number:'1.0'}}</h3>
      <p>deaths</p>
    </div>
  </section>
  </section>


</ion-content>
